

	#CompareItem {
	    margin-bottom: 10px;
	    margin-top :15px;
	}

	.chart201, .chart202 {
	float: left;
	height: 130px;
	overflow: hidden;
	}

	.chartTitle1, .chart201 {
	width: 100%;
	}

	.chartTitle2, .chart202 {
	width: 0%;
	}

	@media only screen and (min-width: 350px) {

	    .chart201, .chart202, .chartTitle1, .chartTitle2{
		width: 48%;
	    }

	}

