
/*for homeBreadcrumb.php*/

#BreadcrumbCompare {
    margin-top: 1.5%;
    margin-left: 8px;
    font-size: 13px;
    color: #000000;
}

#BreadcrumbCompare a {
    color: #000000;
}

#BreadcrumbCountry {
    color: #0071C4;
}


/*superCompare2Countries.php*/
/****************/

#CompareItem {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}
    

/*chart table on standardChart*/
/****************/

#chartTable {
    width: 100%;
}

.chartColumn {
    margin-left: 0.25%;
    margin-right: 0.25%;
    position: relative;
}


/*chartWidth standardChart*/
/****************/

.charts101 {
    width: 99.5%;
    display: table-cell;
}

.charts201, .charts202 {
    width: 49.5%;
    display: table-cell;
}

.charts301, .charts302 {
    width: 49.5%;
    display: table-cell;
}

.charts303 {
    display: none;
}

.charts401, .charts402 {
    width: 49.5%;
    display: table-cell;
}

.charts403, .charts404 {
    display: none;
}


@media only screen and (min-width: 480px) {

    .charts301, .charts302, .charts303{
	width: 32.5%;
	display: table-cell;
    }

    .charts401, .charts402, .charts403 {
	width: 32.5%;
	display: table-cell;
    }

}


@media only screen and (min-width: 700px) {

    .charts401, .charts402, .charts403, .charts404 {
	width: 24.5%;
	display: table-cell;
    }

}


/*chart title on standardChart*/
/****************/

.chartTitle {
    vertical-align: bottom;
}

.chartTitle h3{
    font-size: 13px;
    font-weight: normal;
    color: #000000;
}

.TitleDataSelector, .TitleDataSelectorPermanent {
    width: 95%;
    -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    border: 0px;
    font-size: 13px;
    padding-left: 3px;
}


/*charts on standardChart*/
/****************/

.chartsHeight, .chartareaTemplate   {
    height: 230px ;
    width: 100%;
}
	
.layerChart {
    margin-top: -230px;
    height: 230px;
    
}


/*definitions on standardChart*/
/****************/

.definitionsWrapper, .downloadsWrapper {
    color: black;    
    background: white;
    opacity: 0.85;
    width: 100%;
}

.definitionsWrapper {
    margin-top: -230px;
    height: 230px;
}

.downloadsWrapper {
    position: absolute;
    top: 0;
    height: 230px;
}

.definitions, .downloads {
    padding-top: 8px;
    padding-left: 8px;
    font-size: 95%;
    height: 90%;
    overflow: auto;
}


/*chart title bars lines*/
/****************/

.chartMainTitle {
    margin-bottom: 5px;
    margin-left: 5px;    
}
.chartsColumns {
    float: left;
    width: 99%;
}
.chartTitle1, .chartTitle2 {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
}


.loadingimage {
    margin-left: 25%;
    margin-top: 40%;
    font-size: 80%;
}

/*Button panel*/
/****************/

.buttonPanel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#buttonsFull{
    display: none;
}

#buttonsISO{
    display: inline;
}

@media only screen and (min-width: 475px) {
    #buttonsFull{
        display: inline;
    }
    #buttonsISO{
        display: none;
    }
}

#menuearea {
    float: left;
    width: 96%;
    min-width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.BarsMenuearea {
   margin-bottom: 60px !important;
}

.buttonpanel, .buttonpanelDAC{
    float: left;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.countrylist{
    float: left;
    list-style-type:none;
    padding: 0px;
    margin: 0%;
}

.countrylist6 {
    width: 16.6%;
}

.countrylist5 {
    width: 20%;
}

.countrylist4 {
    width: 25%;
}

.countrylist3 {
    width: 33.3%;
    }

.countrylist2  {
    width: 50%;
}

