.downloadPage {
  background-color: #ffffff;
  padding: 20px;
}

.downloadPage div {
  color: #616160;
}

.downloadPage th {
  background-color: #c5c5c5;
  text-align: left;
}

.downloadPage thead th {
  background-color: #ffffff;
  color: #004996;
}

.downloadPage td {
  vertical-align: top;
}

.downloadPage tr.even {
  background-color: #eeeeee;
}

.downloadPage tbody tr:last-child td {
  padding-bottom: 1em;
}

.wait, .wait * {
  cursor: wait !important;
}
